@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/tileable_wood_texture.png");
  height: 100vh;
  overflow: scroll;
}

#recipes-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

.navbar-brand{
  font-family: 'Monoton', cursive;
  font-size: 35px !important;
}